h1,
p {
  font-family: Lato;
}
.img-wrapper {
  overflow: hidden;
}

.float-child {
  display: inline-grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  width: 97%;
  padding: 10px;
  border: 5px solid;
  background-color: rgb(39, 41, 128);
  border-radius: 25px;
  overflow: scroll;
}

.search-return {
  width: 170px;
  height: 210px;
  padding-top: 10px;
  padding-left: 10px;
  color: aliceblue;
  background-color: rgb(128, 39, 66);
  border-radius: 25px;
}

.placeholder {
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10px;
  background-image: url('https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg');
}

img.hover-zoom:hover {
  transform-origin: center;
  transform: scale(1.75);
}

.bg {
  /* The image used */
  background-image: url('https://t4.ftcdn.net/jpg/02/59/38/19/360_F_259381930_dtHx7LYQwMBcpljvRqGxWl4fTgzm4JIY.jpg');
  /* Full height */
  height: 100vh;
  width: 100vw;
  
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding-left: 10px;
  padding-right: 10px;
}

.mydiv {
  position: relative;
  height: 96.5%;
  width: 101.5%;
  cursor: move;
  z-index: 0;
  border: 3px solid #100b0b;
}

.active {
  cursor: move;
  position: relative;
  height: 96.5%;
  width: 101.5%;
  z-index: 10;
  border: 3px solid #fafd12;
}
