h1,
p {
  font-family: Lato;
}
.img-wrapper {
  overflow: hidden;
}

.float-child {

  display: inline-grid;
  grid-template-columns: 170px 170px 170px 170px 170px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  width: 97%;
  padding: 10px;
  border: 5px solid;
  background-color: rgb(39, 41, 128);
  border-radius: 25px;
  
}

.search-return{
  width: 170px;
  height: 210px;
  padding-top: 10px;
  padding-left: 10px;
  color: aliceblue;
  background-color: rgb(128, 39, 66);
  border-radius: 25px;
}

.placeholder {
  
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 10px;
  background-image: url("https://stackblitz.com/files/react-irx9rm/github/aidenspro/react-irx9rm/master/src/Components/images/cardBack.jpg");
}


img.hover-zoom:hover {
  transform-origin: center;
  transform: scale(1.75);
}

.bg {
  /* The image used */
  background-image: url('https://t4.ftcdn.net/jpg/02/59/38/19/360_F_259381930_dtHx7LYQwMBcpljvRqGxWl4fTgzm4JIY.jpg');

  /* Full height */
  height: 100vh; 
  width: 100vw;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.mydiv {
  position: relative;
  height: auto;
  width: auto;
  cursor: move;
  z-index: 0;
  float: left;
 
  border: 5px solid #100b0b;
  text-align: center;
}

.cardimage{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  ser-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.active{
  position: relative;
  height: auto;
  width: auto;
  z-index: 10;
  border: 10px solid #fafd12;
  border-radius: 5px;
}